body {
  margin: 0;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#gameCanvas {
  background: #111;
  border: 2px solid white;
}

.controls {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.controls button {
  background: #222;
  color: white;
  border: 2px solid white;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.controls button:active {
  background: limegreen;
  color: black;
}
